  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static   menu-collapsed" data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <div class="auth-wrapper auth-v2">
            <div class="auth-inner row m-0">
              <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
                <!-- logitpo -->
            <object data="tamplate/app-assets/images/logo/logo.png" width="24" height="24"> </object> 
                <h2 class="brand-text text-primary ml-1">Autoresponder v22</h2></a>
              <!-- /Brand logo-->
              <!-- Left Text-->
              <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="tamplate/app-assets/images/pages/login-v2.svg" alt="Login V2"/></div>
              </div>
              <!-- /Left Text-->
              <!-- Login-->
              <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                  <h2 class="card-title font-weight-bold mb-1">Bem vindo! </h2>
                  <p class="card-text mb-2">Por favor entre com suas credenciais de acesso.</p>
                
                  <% if(error == true){ %>
                    <p>OoOps, login e/ou senha incorretos, favor verique.</p>
                  <% } %>
                  <form class=" mt-2" action="/auth" method="POST">
                    <div class="form-group">
                      <label class="form-label" for="login-email">Email</label>
                      <input class="form-control" id="email" type="email" name="email" placeholder="teste@example.com" aria-describedby="login-email" autofocus="" tabindex="1" required/>
                    </div>
                    <div class="form-group">
                      <div class="d-flex justify-content-between">
                         
                      <!--  <label for="login-password">Password</label><a href="tamplate/html-customizer/ltr/vertical-collapsed-menu-template/page-auth-forgot-password-v2.html"><small>Esqueceu a senha?</small></a> -->
                      </div>
                      <label class="form-label" for="login-email">Senha</label>
                      <div class="input-group input-group-merge form-password-toggle">
                        
                        <input class="form-control form-control-merge" id="senha" name="senha" type="password" placeholder="路路路路路路路路路路路路" aria-describedby="login-password" tabindex="2" required/>
                        <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3"/>
                        <label class="custom-control-label" for="remember-me"> Lembrar me</label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block" tabindex="4">Entrar</button>
                  </form>
                  <p class="text-center mt-2"><span>Novo por aqui?</span>
                    <a href="registro"><span>&nbsp;Cadastrar-se</span>
                  </a></p>
                 
                </div>
              </div>
              <!-- /Login-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Content-->